//  LOAD FONTS8 ==================HIDDEN COMMENTS==================================
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oswald&display=swap');
$background: #EEE8d6;
$text-color: #272f31;
$darkblue:  #001e25;
$red:        #d14348;
$blue:       #0076a3;
$grey:       #343a40;
$yellow:     rgb(239, 247, 130);
$btn-text:  #EEE8e6;
$green:       rgb(182, 220, 182);
$brown :     #786956;

$font-body: 'Hepta slab';
$font-heading: 'Oswald';

$color-item-border: $red;
$color-grid-head: $blue;

//media query - Breakpoints=========================================================
// $breakpoint-mobile: 350px;
// $breakpoint-tablet: 760px;
// $breakpoint-desktop: 1024px;

